---
layout: null
title: Spring Creations - Home
description: Philippa Spring Modelmaker - Based in Exeter, Devon..
sitemap:
    priority: 1.0
    lastmod: 2018-05-09
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<h2>Modelmaking and more...</h2>
						<p>This site is currently a work in progress. Thank you for your patience.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <!--li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li-->
              <li><a href="https://www.linkedin.com/in/philippa-spring-932a99a7/" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2>Philippa Spring</h2>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>
                
									<p>I am a model maker, sculptor and all round creative currently studying at the Arts University Bournemouth. 
I enjoy many areas of making including stop motion- puppets and sets, heritage models, sfx props and makeup to name a few.
								</p>
								<p>
I do have a particular love of sculpture and paired with my curiosity for the natural world, I have a keen interest in making realistic accurate models and bringing them to life. On this page you will find some of my work from university as well as some personal projects, I’m always updating my website so please feel free to check back in to see whats new!
								</p>
								<p>
Work enquiries can be sent to <a href="mailto://info@springcreations.co.uk">info@springcreations.co.uk</a>
									</p>
							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:2 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Read More</a></li>
  									</ul>
  								</article>
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/projects/" | absolute_url }}" class="button">Projects</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
